[user]
	email = bernd.schwb@yahoo.com
	name = Bernd Schwarzenbacher

[alias]
	st = status
	co = checkout
	br = branch
	dc = diff --cached
	gr = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
