#include ".dotfiles/.Xresources.solarized.dark"
!#include ".dotfiles/.Xresources.solarized.light"
URxvt.intensityStyles: false

URxvt.colorIT: S_cyan
URxvt.colorBD: S_blue
URxvt.colorUL: S_yellow

! fond settings
URxvt.font: xft:dejavusansmono:bold:size=12

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.scrollBar: false


! extensions
URxvt.perl-ext-common: keyboard-select,clipboard

! enable selection mode
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! enable automatic clipboard support
URxvt.clipboard.autocopy: true
URxvt.keysym.C-M-v: perl:clipboard:paste
